<div class="projects-layout">
  <div class="index-btns">
    <div class="row">
      <div class="col-xs-6 btn-index-left">
        <%= link_to '#dev', class: 'btn-index hvr-grow' do %>
          Coding Projects
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= link_to '#teach', class: 'btn-index hvr-grow' do %>
          Teaching Resources
        <% end %>
      </div>
    </div>
  </div>
  <div class="dev-projects" id="dev">
    <div class="title-dev">
      <h2>coding projects</h2>
    </div>
    <div class="index-cards">
      <% @projects.each do |project| %>
        <% if project.job == 'coding' %>
          <div class="product">
            <div class="product-img carousel slide carousel-fade" id="carousel-<%= project.id %>" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-<%= project.id %>" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-<%= project.id %>" data-slide-to="1"></li>
                <li data-target="#carousel-<%= project.id %>" data-slide-to="2"></li>
              </ol>
              <span class="product-category">
                <%= project.category.capitalize %>
              </span>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <img src=<%= project.photos[0].url %> height="400" width="300" class="active item" style="object-fit: cover; object-position: 0 0;">
                <% project.photos[1..-1].each do |photo| %>
                  <img src=<%= photo.url %> height="400" width="300" class="item" style="object-fit: cover; object-position: 0 0;">
                <% end %>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#carousel-<%= project.id %>" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#carousel-<%= project.id %>" data-slide="next">&rsaquo;</a>
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1><%= project.name.capitalize %></h1>
                <h2><%= project.date %></h2>
                <p><%= project.description %></p>
                <div class="link-btn text-center">
                  <% if project.category == 'website' %>
                    <%= link_to 'Go See', project.link, target: "_blank", class: 'btn btn-sof hvr-grow' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="teach-projects" id="teach">
    <div class="title-teach">
      <h2>teaching resources</h2>
    </div>
    <div class="index-cards">
      <% @projects.each do |project| %>
        <% if project.job == 'teaching' %>
          <div class="product">
            <div class="product-img carousel slide carousel-fade" id="carousel-<%= project.id %>" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-<%= project.id %>" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-<%= project.id %>" data-slide-to="1"></li>
                <li data-target="#carousel-<%= project.id %>" data-slide-to="2"></li>
              </ol>
              <span class="product-category">
                <%= project.category.capitalize %>
              </span>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <img src=<%= project.photos[0].url %> height="400" width="300" class="active item" style="object-fit: cover; object-position: 0 0;">
                <% project.photos[1..-1].each do |photo| %>
                  <img src=<%= photo.url %> height="400" width="300" class="item" style="object-fit: cover; object-position: 0 0;">
                <% end %>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#carousel-<%= project.id %>" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#carousel-<%= project.id %>" data-slide="next">&rsaquo;</a>
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1><%= project.name.capitalize %></h1>
                <h2><%= project.date %></h2>
                <p><%= project.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <a href="#0" class="cd-top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
</div>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%# CAROUSEL NORMAL %>
    <%# var carousels = document.querySelectorAll('.carousel')
    carousels.forEach(function(carousel) {
      carousel.carousel();
    }); %>
    $(document).ready(function() {
      $('.carousel').carousel();
    });
  <% end %>
<% end %>
